.food {
   background-color:#03a9f4; 
   color: white;
}
.teki ul li{
  margin: -20px 0px 0px 100px;
  padding: 0px ;
}
.teki ul :hover{
 color: #042683;
 background-color: #82a2f8;
 padding: 5px 15px;
}

.teki hr{
 margin-top: 80px;
  
}
.food p {
  margin: -50px 0px 0px 70px;
}
.teki {
    width: 100%;
    margin: -40px 0px 0px 250px;
    font-size: 15px;
}
@media screen and (min-width:992px ) and (max-width:1400px )  {
  .teki{
      height: 120px;
      padding: 15px;
      width: 750px;
  }
  
}

footer td{
width: 230px;
height: 400px;
padding: 0px 30px;

}
footer table{
    margin: 0px 10px 0px 250px;
    background-color: rgb(3, 169, 244); 
    animation-duration: 5s;
    animation-name: fade;
    animation: fade 5s linear 2s infinite alternate;
}
@keyframes fade {
  from {
    background-color: rgb(3, 169, 244);
  }
  to {
    background-color: rgb(3, 180, 255);
  }
}

.spus  {
    margin: 10px 0px 0px 180px ; 
}
.spus li {
    padding-left: 50px;
}
.food b { color: yellow;}
@media screen and (min-width:576px ) and (max-width:992px )  {
  .food table {
      margin: 0 auto;
  }
  
}