ul li{
    display: inline-block;
    text-decoration: none;
}
.tekk li{
    width: 150px;       
}
.one {
    background-color: #03a9f4;
    color: white;
    font-family:"Regular" ;
    height: 100px;
}
.tekk select{
    background-color: #03a9f4;
    color: white;
    border-color: #03a9f4;
    font-size: 17px;
}
#bii button{
    background-color: #03a9f4;
    color: white;
    border-color: #03a9f4;
    padding: 5px 25px;
    margin-bottom: 0px;
    margin-left: -100px;
    margin-top: -20px;
    position: absolute;
}
#bil button{
    background-color: orangered;
    color: white;
    border-color: orangered;
    padding: 5px 25px;
    margin-bottom: 0px;
    margin-left: -100px;
    margin-top: -20px;
    position: absolute;
}
#bii button:hover{
    background-color: orangered;
}
#bil button:hover{
    background-color: #03a9f4;
    border-color: #03a9f4;
}
.tekk{
    margin: -40px 0px 0px 320px;
}
.one p{
    margin: -55px 0px 0px 60px ;
    color: #ffffff;
    position: absolute;
    font-size: 20px;
}
.one b{
   color: yellow;
}
.one span{
    font-size: 15px; 
}
.foto{
    margin: -55px 0px 0px 800px ;
}