<aside>
    <div class="container">
        <h3>01 Welcome to Sitename </h3>
        <h2><strong>Do you need essay help from a good writing service ?</strong></h2>
        <img src="../../../assets/img/blueessaysite.net_3index.png" height="500px" width="500px">
        <div class="text">
            If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.  <br><br>

            Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.
        </div>
    </div>
  

    <div class="container-fluid three">
        <div class="container">
            <h3>02 Our advantages </h3>
            <h2><strong>Advantages of Our Writing Services </strong></h2>



            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    

                  <h5 class="card-title">
                    <img src="../../../assets/img/Vector Smart Object4.png" height="50px " width="50px"   alt="">
                    Professionally-qualified 
                    writing experts </h5>
                  <p class="card-text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                 
                </div>
              </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                

                  <h5 class="card-title">
                    <img src="../../../assets/img/Vector Smart Object5.png"  height="50px " width="50px" alt="">
                    Commitment to deliver papers by deadline</h5>
                  <p class="card-text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                 
                </div>
              </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">

                  <h5 class="card-title">
                    <img src="../../../assets/img/comp Vector Smart Object6.png" height="50px " width="50px" alt="">
                    Top-quality, at a great price - guaranteed</h5>   
                  <p class="card-text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                 
                </div>
              </div><br>


            <button> Place an order </button>
        </div>
    </div>


    <div class="container for ">

        <h3>03 How it works </h3>
        <h2><strong>Our Simple 4-Step Procedure</strong></h2>




        <div class="card1" style="width: 15rem;">
            <div class="card-body">
              <h5 class="STEP 1 ">STEP 1
                <img src="../../../assets/img/Vector Smart Object.1png.png"  height="70px " width="70px" alt=""></h5>
              <p class="card-text">Complete the short order form to buy a paper from our easy essay writing service</p>
             
            </div>
            <img id="foto1" src="../../../assets/img/line.net_index.png" alt="">
          </div>
        <div class="card2" style="width: 15rem;">
            <div class="card-body">
              <h5 class="STEP 2 ">STEP 2
                <img src="../../../assets/img/Vector Smart Object10.png"  height="70px " width="70px" alt=""></h5>
              <p class="card-text">We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
             
            </div>
            <img id="foto2" src="../../../assets/img/line.net_index.png" alt="">
          </div>
        <div class="card3" style="width: 15rem;">
            <div class="card-body">
              <h5 class="STEP 3 ">STEP 3
                <img src="../../../assets/img/Vector Smart Object8.png"  height="70px " width="70px" alt=""></h5>
              <p class="card-text">Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
             
            </div>
            <img id="foto3" src="../../../assets/img/line.net_index.png" alt="">
          </div>
        <div class="card4" style="width: 15rem;">
            <div class="card-body">
              <h5 class="STEP 4 ">STEP 4
                <img src="../../../assets/img/Vector Smart Object.11png.png"  height="70px " width="70px" alt=""></h5>
              <p class="card-text">The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
             
            </div>
          </div>


    </div>
</aside>
<div class="container-fluid five">
  <div class="container">
   
    </div>
  </div>
  </div>
</div>
