<footer>
    <div class="container-fluid food">
        <div class="container">

            <img src="../../../assets/img/icon-logo.png" height="50px" width="50px" alt="">
                <p> Blue<b>essay</b>site.
                <span>net <br>  Providing Custom Writing Services </span> </p>
    
    
              <div class="teki">
                <ul>
                    <li> HOME </li>
                    <li> ABOUT US </li>
                    <li> ORDER NOW </li>
                    <li> DISCLAMER </li>
                    <li> WHY US  </li>
                    <li> CONTACTS </li>
                    <li> BLOG  </li>
                       
        </div><br> <hr>
    
        <table>
            <tr> 
                <td>
                    <h5>Section number1 </h5><br>
                    But I must explain to you how 
                    Mistaken idea of denouncing 
                    Praising pain was born
                    Account of the system
                    Great explorer of the truth
                    No one rejects, dislikes
                    Mistaken idea of denouncing 
                    Praising pain was born 
    
                </td>
                <td>
                    <h5>Section number1 </h5><br>
                    But I must explain to you how 
                    Mistaken idea of denouncing 
                    Praising pain was born
                    Account of the system
                    Great explorer of the truth
                    No one rejects, dislikes
                    Mistaken idea of denouncing 
                    Praising pain was born 
    
                </td>
                <td>
                    <h5>Section number1 </h5><br>
                    But I must explain to you how 
                    Mistaken idea of denouncing 
                    Praising pain was born
                    Account of the system
                    Great explorer of the truth
                    No one rejects, dislikes
                    Mistaken idea of denouncing 
                    Praising pain was born 
    
                </td>
                <td>
                    <h5>Section number1 </h5><br>
                    But I must explain to you how 
                    Mistaken idea of denouncing 
                    Praising pain was born
                    Account of the system
                    Great explorer of the truth
                    No one rejects, dislikes
                    Mistaken idea of denouncing 
                    Praising pain was born 
    
                </td>
              
            </tr>
            
            
        </table>
        <hr>

        <ul class="spus">
            <li>Copyright В© 2017 BlueEssay <br>Site.net 
                All rights reserved.</li>
            <li><img src="../../../assets/img/blueessaysite.net_88index.png" alt=""></li>
            <li>
                <img src="../../../assets/img/Vector Smart Object9.png" alt="">
                Toll free: <br>
                <strong>+ 3 044 111 2732 </strong></li>
            <li>
                <img src="../../../assets/img/Vector Smart Object.png" alt="">
                Emall: <br>
                blueessaysite@gmail.com</li>


           
        </ul>


    </div>
  
</footer>