<header>
    <div class="container-fluid one">
        <div class="container"> 
            <img src="../../../assets/img/icon-logo.png" height="50px" width="50px" alt="">
            <p> Blue <b>essay</b>site.
            <span>net <br>  Providing Custom Writing Services </span> </p>


          <div class="tekk">
            <ul>
                <li>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> SERVISE</option>
                        <option value="1">One</option>
                    
                      </select>
                </li>
                <li>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>ABOUT US</option>
                        <option value="1">One</option>
                    
                      </select>
    
    
                </li>
                <li>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>HOW IT WORKS </option>
                        <option value="1">One</option>
                    
                      </select>
    
                </li>
                <li><img src="../../../assets/img/phone_icon.png" alt=""></li>
                <li id="bii"><button> SIGN IN </button></li>
                <li id="bil"><button> ORDER </button></li>
                <li> <img class="foto" src="../../../assets/img/burger.png" height="30px" width="30pc" alt=""></li>
               </ul>

          </div>
          

        </div>
    </div>
   
</header>