<header>
    <div class="container-fluid one row">
        <div class="container"> 
          <div class="name ">
            <img src="../../../assets/img/icon-logo.png" height="50px" width="50px" alt="">
            <p>Blue <b>essay</b>site.
            <span >net <br>  Providing Custom Writing Services </span> </p>

          </div>
           


          <div class="tekk">
            <ul>
                <li>
                    <select class="form-select" aria-label="Default select example">
                        <option selected> SERVISE</option>
                        <option value="1">One</option>
                    
                      </select>
                </li>
                <li>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>ABOUT US</option>
                        <option value="1">One</option>
                    
                      </select>
    
    
                </li>
                <li>
                    <select class="form-select " aria-label="Default select example">
                        <option selected>HOW IT WORKS </option>
                        <option value="1">One</option>
                    
                      </select>
    
                </li>
                
                <div class="ipe">
                  <li><img class="d-lg-none d-xl-none d-xxl-block d-md-none d-xs-none d-sm-none" src="../../../assets/img/phone_icon.png" alt=""></li>
                  <li id="bii"><button class="d-lg-none d-xl-none d-xxl-block d-md-none d-sm-none d-xs-none "> SIGN IN </button></li>
                  <li id="bil"><button class="d-lg-none d-xl-none d-xxl-block d-md-none d-sm-none d-xs-none"> ORDER </button></li>
                  <li> <img class="fotoo d-lg-none d-xxl-block d-xl-none d-md-none d-sm-none" src="../../../assets/img/burger.png" height="30px" width="30pc" alt=""></li>

                </div>
                

                
                 </ul>

             
               

          </div>
          

        </div>
    </div>
   
</header>